<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>static content</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--</head>-->
<!--<body>-->
<!--정적 컨텐츠 입니다.-->
<!--<p>GET_ID: <?php echo $_GET['age']; ?></p>-->
<!--<p>ID: <?php echo $_REQUEST['age'] ?></p>-->
<!--<p>Age: <?php echo $_REQUEST['sex'] ?></p>-->
<!--</body>-->

<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>#</th>-->
<!--        <th>이름</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="${sex}">-->
<!--        <td th:text="${sex}"></td>-->
<!--        <td th:text="${sex}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--</html>-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${sex}"></td>
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>